ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.inputBox {
  cursor: pointer;
}

.listItem {
  cursor: pointer;
  --min-height: 30px;
}

.checkBox {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
